h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	cursor:text;
	position:relative;
}

#docRoot{
	width:75%;
	float:right;
	color:#838383;
	font-family: 'OpenSansRegular';
	font-size:14px;
}

#docRoot *{
	line-height: 2em;
}

#docRoot h1{
	font-size:30px;
	font-family: 'OpenSansSemibold';
	color:#0f0000;
	padding-bottom:12px;
	margin-top:50px;
	border-bottom:1px solid #CFCFCF;
	line-height:1em;
}

#docRoot h2{
	font-size:28px;
	font-family: 'OpenSansRegular';
	color:#0f0000;
	padding-bottom:12px;
	margin-top:40px;
	line-height:1em;
}

#docRoot h3{
	font-size:24px;
	font-family: 'OpenSansLight';
	color:#0f0000;
	margin-top:30px;
	margin-bottom:20px;
	line-height:1em;
}

#docRoot code{
	background: transparent;
}

#docRoot ul{
	margin-left:17px;
}

#docRoot ol{
	margin-left: 44px;
}

#docRoot table{
	width:100%;
	border:1px solid #ddd;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing: 0;
}

#docRoot table th,#docRoot table td{
	background-color:#f9f9f9;
	border:1px solid #ddd;
	padding: 8px;
	line-height: 1.5;
	vertical-align:top;
}

#root{
	position:fixed;left:0;top:51px;width:100%;bottom:0;overflow-y:auto;
}

.banner{
	width:100%;height:230px;background-color:#3d5183;
	background-image:url(../images/intro-bg.jpg);
}

.banner-txt {
    padding-top:45px;
    width: 1170px;
    margin: 0 auto;
    padding-left:20px;
}

.banner-txt h1 {    
    font-size: 45px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
    font-family:OpenSansRegular;
}

.banner-txt p {
    font-size: 18px;
    margin-top: 40px;
    color: #c6def6;
    font-family:OpenSansRegular;
}

.container{
	width:1170px;
	margin-left:auto;
	margin-right:auto;
}


.catalog-container{
	width:260px;
	float:left;
}
		
.catalog{
	width:260px;
	overflow-y:auto;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	background-color:#f7f5fa;
}

.affix-top{margin-top:50px;}
.affix{position:fixed;top:80px;margin-top:0;}
.affix-bottom{position:absolute;margin-top:0;}
		
.catalog ul{
	display:none;
	list-style:none;
	margin-left:10px;
}

.catalog .nav-root{	
	padding-top:20px;
	padding-bottom:20px;
	margin-left:20;
}

.nav>li>a{
	padding:0px;
}

.catalog a{
	display: block;
	color:#716b7a;
	padding:5px 20px;
	text-decoration:none;			
}

.catalog a:hover,.catalog a:focus{
	text-decoration:none;
	background-color:#e5e3e9;
	border-right:1px solid #dbd8e0;
}

.catalog li.active > a{
	color:#59c6ef;
	background-color:transparent;
	border-right:1px solid #563d7c;
}

.catalog .ul1{
	margin-top:8px;
}

.catalog .ul2{
	margin-top:8px;
}

.catalog .li0{
	margin-bottom:10px;
}

.catalog .li1{
	margin-bottom:8px;
}

.catalog .li2{
	margin-bottom:8px;
}

.catalog li:last-child{
	margin-bottom:0;
}

.catalog .a0{
	font-size: 18px;
	font-family: OpenSansSemibold;
}

.catalog .a1{
	font-size: 14px;
	font-family: OpenSansRegular;
}

.catalog .a2{
	font-size: 14px;
	font-family: OpenSansLight;
}

.footer-section{
    position:relative;width:100%;height:40px;background-color:#eef2f3;
}

.footer-section ul{
    position:absolute;top:0;left:23%;height:100%;list-style: none;    
}

.footer-section ul li{
    float:left;
    height:100%;
}

.footer-section ul li a{ 
    display: block;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
    color:#999991;
    cursor:pointer;
}

.footer-section ul li .right-border{
    border-right:2px solid #dee2e3;
}

.footer-section .button-back{
    position:absolute;top:0;right:23%;width:40px;height:100%;background:no-repeat center url(../images/small_back.png);cursor:pointer;
}