@font-face {
  font-family: 'OpenSansLight';
  font-style: normal;
  font-weight:normal;
  src: url('../fonts/OpenSansLight.ttf');
}
@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-weight:normal;
  src: url('../fonts/OpenSansRegular.ttf');
}
@font-face {
  font-family: 'OpenSansSemibold';
  font-style: normal;
  font-weight:normal;
  src: url('../fonts/OpenSansSemibold.ttf');
}