.jimu-widget-track{
  position: relative;
  width: 100%;
  height: 100%;
}
.jimu-widget-track .create-track-btn{
  height: 34px;
  line-height: 34px;
  border: 1px dashed #999;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
  width: 100%;
}
.jimu-widget-track .list-pane, .jimu-widget-track .editor-pane, .jimu-widget-track .player-control{
  position: absolute;
}
.jimu-widget-track .list-pane, .jimu-widget-track .editor-pane{
  width: 100%;
}
.jimu-widget-track .track-list{
  height: 520px;
  overflow: auto;
  margin-top: 2px;
}
.jimu-widget-track .track-node{
  overflow: hidden;
  height: 74px;
  margin-top: 4px;
  cursor: pointer;
}
.jimu-widget-track .track-node-hover{
  background-color: #e2f4ff;
  border-radius: 2px;
}
.jimu-widget-track .track-node-highlight{
  background-color: #86cfff;
  border-radius: 2px;
}
.jimu-widget-track .track-thumbnail{
  width: 84px;
  height: 56px;
  border: 1px solid transparent;
  font: 12px arial;
  position: relative;
  float: left;
  margin: 8px;
}
.jimu-widget-track .track-thumbnail img{
  width: 84px;
  height: 56px;
  border: 1px solid #34495e;  
}
.jimu-widget-track .track-name{
  text-align: left;
  color: #333;
  width: 211px;
  word-wrap: break-word;
  overflow: hidden;
  font: 12px arial;
}
.jimu-widget-track .track-thumbnail .thumbnail-cover{
  position: absolute;
  width: 84px;
  height: 56px;
  left: 0px;
  top: 0px;
  background-color: black;
  opacity: 0.25;
  z-index: 2;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}
.jimu-widget-track .track-node:hover .thumbnail-cover{
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.jimu-widget-track .track-node:hover img{
  border: 1px solid #fff;
}
.jimu-widget-track .track-node-highlight img{
  border: 1px solid #fff; 
}
.jimu-widget-track .track-node-highlight .thumbnail-cover{
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.jimu-widget-track .track-thumbnail .thumbnail-play{
  position: absolute;
  width: 29px;
  height: 29px;
  left: 50%;
  top: 50%;
  margin-top: -14px;
  margin-left: -14px;
  cursor: pointer;
  display: none;
  background: url(images/thumbnail_mouseover_icon.png);
  z-index: 4;
}
.jimu-widget-track .track-thumbnail:hover .thumbnail-play{
  display: block;
}
.jimu-widget-track .track-thumbnail .thumbnail-time{
  position: absolute;
  width: 45px;
  height: 18px;
  right: 2px;
  bottom: 2px;
  background-color: black;
  opacity: 0.75;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.jimu-widget-track .track-thumbnail .thumbnail-time-label{
  position: absolute;
  width: 45px;
  height: 18px;
  right: 2px;
  bottom: 2px;  
  z-index: 4;
  color: white;
  font: 12px arial;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}

.jimu-widget-track .track-right{
  width: 200px;
  height: 56px;
  margin: 8px 0px 0px 6px;
  float: left;
  position: relative;
  overflow: hidden;
}
.jimu-widget-track .track-actions{
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 14px;
  width: 500px;
}
.jimu-widget-track .track-action{
  float: left;
  margin-left: 22px; 
  overflow: hidden;
  cursor: pointer;
  height: 14px;
}
.jimu-widget-track .track-action:nth-child(1){
  margin-left: 0; 
}
.jimu-widget-track .track-action:first-child{
  margin-left: 0; 
}
.jimu-widget-track .track-action .left{
  width: 15px;
  height: 14px;
  float: left;
}
.jimu-widget-track .track-action .mid-text{
  float: left;
  width: 0px;
  overflow: hidden;
  margin-left: 3px;
  font: 12px "arial bold";
  color: #3498db;
  line-height: 14px;
}
.jimu-widget-track .track-action .mid-text a{
  white-space: nowrap;
}
.jimu-widget-track .track-action .right{
  width: 4px;
  height: 6px;
  margin: 4px 0px 4px 5px;
  float: left;
  background-image: url(images/arrow.png)
}
.jimu-widget-track .track-actions .play-action .left{
  background-image: url(images/play.png)
}
.jimu-widget-track .track-actions .edit-action .left{
  background-image: url(images/edit.png)
}
.jimu-widget-track .track-actions .save-action .left{
  background-image: url(images/download.png)
}
.jimu-widget-track .track-actions .drop-action .left{
  background-image: url(images/delete.png)
}

/*************************/
.jimu-widget-track .trackname-input{
  width: 100%;  
  margin-top: 5px;
}
.jimu-widget-track .jimu-state-error{
  visibility: hidden;
}

.jimu-widget-track .track-stop-list{
  background-color: #f4fbff;
  border: 1px solid #c1c1c1;
  margin-top: 3px;
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.jimu-widget-track .track-stop{
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: -1px;
}
.jimu-widget-track .track-stop .jimu-input{
  border: 1px solid #cccccc;
}
.jimu-widget-track .track-stop-thumbnail, .jimu-widget-track .track-stop-name, .jimu-widget-track .jimu-timeinput{
  float: left;
}
.jimu-widget-track .track-stop-thumbnail{
  margin: 7px 0px 7px 12px;
  width: 18px;
  height: 16px;
  background-image: url(images/trackstop_icon.png);
}
.jimu-widget-track .track-stop-name{
  margin-left: 16px; 
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 13px/30px arial;
  color: black;
}
.jimu-widget-track .track-stop-time-0{
  width: 89px;
  border: 1px solid transparent;
  height: 18px;
  text-align: center;
  font: 13px arial;
  color: #c2c2c2;
  line-height: 18px;
  margin-top: 6px;
  margin-left: 9px;
  float: left;
}
.jimu-widget-track .jimu-timeinput{
  height: 22px;
  margin: 4px 5px;   
}

.jimu-widget-track .edit-btns{
  height: 30px;
  background-color: #ccc;
  z-index: 3;
  position: relative;
}
.jimu-widget-track .edit-btns .track-time-wrapper{
  outline: 1px solid #999;
  border-top: 1px solid rgba(255,255,255,0.65);
  width: 112px;
  height: 28px;
  margin-left: 1px;
  float: left;
}
.jimu-widget-track .track-time{
  height: 22px;
  margin: 3px 4px; 
  float: left;
}
.jimu-widget-track .jimu-icon-btn{
  width: 69px;
  height: 29px;
  margin-top: -1px;
  font-size: 14px;
}
.jimu-widget-track .preview-track{
  background-image: url(images/editor_play.png)
}
.jimu-widget-track .add-stop{
  background-image: url(images/editor_capture.png)
}
.jimu-widget-track .drop-stop{
  background-image: url(images/editor_delete.png)
}
.jimu-widget-track .action-btns{
  margin-top: 13px;  
  height: 32px;
}
.jimu-widget-track .jimu-btn{
  font-size: 14px;
}
.jimu-widget-track .cancel-btn{
  width: 90px;
  height: 30px;  
  line-height: 30px;
  color: #7d7d7d;
}
.jimu-widget-track .save-btn{
  width: 90px;
  height: 30px;  
  line-height: 30px;
  margin-left: 12px;
}
.jimu-widget-track .finish-btn{
  width: 107px;
  height: 30px;  
  line-height: 30px;
  margin-left: 12px;
}
/** player **/
.track-player{
  height: 28px;
  width: 316px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background-color: #e2e2e2;
}
.track-player .play{
  float: left;
  width: 40px;
  height: 28px;
  cursor: pointer;  
  background: center center no-repeat url(images/player_play.png);
}

.track-player .pause{
  background-image: url(images/player_pause.png)
}
.track-player .stop{
  width: 30px; 
  height: 28px;
  float: left;
  border-left: 1px solid #d5d5d5;    
  cursor: pointer;
  background: center center no-repeat url(images/player_stop.png);  
}
.track-player .progress-time{
  height: 29px;
  float: left;
  border-left: 1px solid #d5d5d5;
}
.track-player .progress{
  width: 118px;
  height: 5px;
  margin-left: 10px;
  margin-top: 11px;
  background-color: #999;
  border-radius: 4px;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75) inset;
  float: left;
}
.track-player .progress .inner{
  width: 0;
  height: 100%;
  background-color: #20bd49;
}
.track-player .time{
  margin-left: 10px;  
  margin-right: 10px;
  height: 30px;
  font: 12px arial; 
  line-height: 30px;   
  float: left;
  color: #333; 
}
.track-player .loop{
  width: 30px;
  height: 28px;
  float: left;
  border-left: 1px solid #d5d5d5;    
  cursor: pointer;
  background: center center no-repeat url(images/player_repeat.png);
}
.track-player .loop-enabled{
 background-color: #666;
 background-image:url(images/player_repeat_click.png);
}
.track-player .play:hover, .track-player .stop:hover, .track-player .loop:hover{
  background-color: #f4f4f4;
}
.track-player .loop-enabled:hover{
 background-color: #666;
}